<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel" thread-count="2" parallel="classes">
    <test name="start">
        <classes>
            <class name="apiTests.apiTest"/>
            <class name="uiTests.EnvironmentTest"/>
        </classes>
    </test>
    <test name="check">
        <classes>
            <class name="uiTests.PositiveTest"/>
            <class name="uiTests.NegativeTest"/>
        </classes>
    </test>
    <test name="finish">
        <classes>
            <class name="uiTests.FinishTest"/>
        </classes>
    </test>
</suite>